/Users/millican/Documents/Research/Millican/Koch_Turfgrass/urban_landscape_microbiome/.DS_Store
/Users/millican/Documents/Research/Millican/Koch_Turfgrass/urban_landscape_microbiome/R/Writing
/Users/millican/Documents/Research/Millican/Koch_Turfgrass/urban_landscape_microbiome/R/Writing/*
/Users/millican/Documents/Research/Millican/Koch_Turfgrass/urban_landscape_microbiome/figures/*.tiff
/Users/millican/Documents/Research/Millican/Koch_Turfgrass/urban_landscape_microbiome/.gitignore
/Users/millican/Documents/Research/Millican/Koch_Turfgrass/urban_landscape_microbiome/R/Ecology_Forward_Reads.Rproj