urban_landscape_microbiome/.DS_Store
urban_landscape_microbiome/.gitignore
urban_landscape_microbiome/R/Writing
urban_landscape_microbiome/R/Writing/*
urban_landscape_microbiome/R/Ecology_Forward_Reads.Rproj